{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}设置新密码 - NRM{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default nrm-form-panel">
            <div class="panel-heading"><h3 class="panel-title">设置新密码</h3></div>
            <div class="panel-body">
                {% if validlink %}
                <form method="post" class="nrm-form-grid">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="nrm-form-actions"><div><button type="submit" class="btn btn-primary">保存新密码</button></div></div>
                </form>
                {% else %}
                <p>链接无效或已过期，请重新<a href="{% url 'accounts:password_reset' %}">找回密码</a>。</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
